<!-- <footer class="uoc-footer">
    &copy; Universitat Oberta de Catalunya
</footer> -->
<footer class="uoc-footer">
    <div class="footer1">
        <p>Contáctanos<br> Phone: +34688965410<br> Email: Rivas@Rivas.com</p>
        <nav>
            <span>Follow us on</span>
            <ul>
                <li><a href="https://www.twitter.com"><images src="images/icons/twitter.svg" loading="lazy" width="30px" height="80px" alt="twitter"></a></li>
                <li><a href="https://www.instagram.com"><images src="images/icons/instagram.svg" loading="lazy" width="30px" height="80px" alt="instagram"></a></li>
                <li><a href="https://www.youtube.com"><images src="images/icons/youtube.svg" loading="lazy" width="30px" height="80px" alt="youtube"></a></li>
                <li><a href="https://www.facebook.com"><images src="images/icons/facebook.svg" loading="lazy" width="30px" height="80px" alt="facebook"></a></li>
            </ul>
        </nav>
    </div>
    <hr>
    <div class="footer2">
        <p>2023 © Jorge Martín-Serrano</p>
        <nav>
            <ul>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Cookies</a></li>
            </ul>
        </nav>
    </div>
</footer>