<header>
    <div class="header-container">
      <div class="logo-container">
        <a href="index.html">
        <div class="logo"></div>
        </a>
      </div>
      <div class="tittle">
        <h1>Senderismo<br/>Rivasvaciamadrid</h1>
      </div>
      <div class="new-nav">
        <div class="newsletter">
          <h2 class="doodle-tittle">newsletter</h2>
          <p>¡Apúntate!</p>
          <form>
              <input type="email" size="30" placeholder="Your email adress" label="newsletter">
              <button>Suscribe</button>
          </form>
        </div>
      </div>
    </div>
  </header>