@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$rivas-corporate: #3d4b40;
$rivas-masterbrand: #73f6ff8e;
$rivas-bg: color.scale($rivas-masterbrand, $lightness: 70%);
$header-bg: linear-gradient(#19570c, #e7f0e7);

$mqMinWidth: 420px;
